Config
{ chainSeekHost         = "127.0.0.1"
, chainSeekPort         = 53715
, chainSeekCommandPort  = 53720
, historyHost           = "127.0.0.1"
, historyCommandPort    = 53717
, historyQueryPort      = 53718
, historySyncPort       = 53719
, discoveryHost         = "127.0.0.1"
, discoveryQueryPort    = 53721
, txHost                = "127.0.0.1"
, txCommandPort         = 53723
, timeoutSeconds        = 600
}
