Config
{ chainSeekHost         = "services.marlowe.run"
, chainSeekPort         = 53715
, chainSeekCommandPort  = 53720
, historyHost           = "services.marlowe.run"
, historyCommandPort    = 53717
, historyQueryPort      = 53718
, historySyncPort       = 53719
, discoveryHost         = "services.marlowe.run"
, discoveryQueryPort    = 53721
, txHost                = "services.marlowe.run"
, txCommandPort         = 53723
, timeoutSeconds        = 600
}
