Config
{ chainSeekHost        = "34.221.78.114"
, chainSeekCommandPort = 3720
, historyHost          = "34.221.78.114"
, historyCommandPort   = 53717
, historyQueryPort     = 53718
, historySyncPort      = 53719
, discoveryHost        = "34.221.78.114"
, discoveryQueryPort   = 53721
, txHost               = "34.221.78.114"
, txCommandPort        = 53723
, verbose              = False
}
