Config
{ chainSeekHost        = "34.221.78.114"
, chainSeekCommandPort = 13720
, historyHost          = "34.221.78.114"
, historyCommandPort   = 13717
, historyQueryPort     = 13718
, historySyncPort      = 13719
, discoveryHost        = "34.221.78.114"
, discoveryQueryPort   = 13721
, txHost               = "34.221.78.114"
, txCommandPort        = 13723
, verbose              = False
}
