Config
{ chainSeekHost        = "34.221.78.114"
, chainSeekCommandPort = 23720
, historyHost          = "34.221.78.114"
, historyCommandPort   = 23717
, historyQueryPort     = 23718
, historySyncPort      = 23719
, discoveryHost        = "34.221.78.114"
, discoveryQueryPort   = 23721
, txHost               = "34.221.78.114"
, txCommandPort        = 23723
, verbose              = False
}
