Config
{ chainSeekHost         = "services.marlowe.run"
, chainSeekPort         = 23715
, chainSeekCommandPort  = 23720
, historyHost           = "services.marlowe.run"
, historyCommandPort    = 23717
, historyQueryPort      = 23718
, historySyncPort       = 23719
, discoveryHost         = "services.marlowe.run"
, discoveryQueryPort    = 23721
, txHost                = "services.marlowe.run"
, txCommandPort         = 23723
, timeoutSeconds        = 300
}
